<footer class="app-footer">
  <!--begin::To the end-->
  <div class="float-end d-none d-sm-inline">Everyone has a voice</div>
  <!--end::To the end-->
  <!--begin::Copyright-->
  <strong>
    Copyright &copy; 2014-2024&nbsp;
    <a
      href="https://pandapress.org"
      target="_blank"
      class="text-decoration-none"
    >
      Panda Press </a
    >.
  </strong>
  All rights reserved.
  <!--end::Copyright-->
</footer>
