networks:
  pandapress:

services:
  server:
    build:
      context: .
      dockerfile: nginx.dockerfile
    container_name: panda_nginx
    ports:
      - 80:8000
    volumes:
      - .:/var/www/html
    depends_on:
      - php
    networks:
      - pandapress

  php:
    build:
      context: .
      dockerfile: php.dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    container_name: panda_php
    volumes:
      - .:/var/www/html
    networks:
      - pandapress 