<footer class="min-h-16 my-4 flex flex-col items-center">
  <div class="float-end d-none d-sm-inline">Everyone has a voice</div>
  <div class="prose prose-a:font-semibold">
    Copyright &copy; 2014-2024&nbsp;Powered by
    <a href="https://pandacms.net" target="_blank" class="text-decoration-none">
      Panda CMS
    </a>
  </div>
</footer>
