<header class="h-16 w-full flex items-center justify-center">
  <div class="max-w-screen-xl h-16 w-full flex items-center justify-between">
    <a href="/" class="font-bold text-2xl">Panda CMS</a>
    <div class="flex items-center font-medium">
      <a class="text-base" href="/posts">Posts</a>
      <a class="text-base pl-6" href="/tags">Tags</a>
    </div>
  </div>
</header>
