{layout '../parts/layout.latte'} {block content}
<main class="app-main">
  <div>
    <textarea id="editor"></textarea>
  </div>
</main>
<script src="/core/Admin/assets/js/tinymce.js"></script>
<script>
  tinymce.init({
    selector: "textarea#editor",
    plugins: ["wordcount"],
  });
</script>
{/block}
