{layout 'parts/layout.latte'} {block content}

<main class="app-main">
  <div class="p-4">
    <h3>Panda Press License</h3>
    <p>
      PandaPress is licensed under the MIT License. See the LICENSE file for
      details.
    </p>
  </div>
</main>
{/block}
